@import "url('https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.11.2/cdn/themes/dark.css')" ;
   
.accordion-button:not(.collapsed) {
      background-color: #9935dc;
      color: white;
    }

    html, body {
      font-family: var(--rh-font-family-body-text, RedHatText, "Red Hat Text", "Noto Sans Arabic", "Noto Sans Hebrew", Helvetica, Arial, sans-serif);
      margin: 0;
      padding: 0;
      height: 100%;
    }

    body {
      display: grid;
      grid-template-areas: 'header' 'main' 'footer'
          }

    header {
      height: var(--rh-length-5xl, 100px);
      background: var(--rh-color-surface-darkest, #151515);
      color: var(--rh-color-text-primary-on-dark, #fff);
      padding-inline : var(--rh-space-xl, 24px);
      display: flex;
      align-items: center;
      gap: var(--rh-space-xl, 24px);
      grid-area: header;
      grid-template-areas: 'header' 'main' 'footer'
    }

    progress {
      height: var(--rh-length-5xl, 60px);
      display: flex;
      align-items: center;
    }

    h1 {
      font-size: var(--rh-font-size-heading-2xl, 3rem);
      margin: 0;
    }

    main {
      grid-area: main;
      margin: var(--rh-space-xl, 10px);
      display: flex;
      gap: var(--rh-space-lg, 16px);
      flex-flow: row wrap;
      margin-block: 10px; /* Set the vertical margin (top and bottom) */
     margin-inline: 20px;
     flex-direction: column;
    }

    form {
      display: contents;
    }

    fieldset {
      display: grid;
      flex: 1 1 100%;
    }

    label {
      display: block;
      font-weight: var(--rh-font-weight-heading-bold, 700);
      margin-block-end: var(--rh-space-sm, 6px);
    }

    rh-footer-universal {
      margin-block-start: auto;
      grid-area: footer;

    }

    body {
  color: var(--rh-color-text-primary-on-light, #151515);
  background-color: var(--rh-color-surface-lightest, #fff);
}

body.dark {
  color: var(--rh-color-text-primary-on-dark, #fff);
  background-color: var(--rh-color-surface-darkest, #151515);
}

section {
  padding: 16px;
}

[data-demo] {
  display: contents;
}

form h2 {
  width: 100%;
}

form output {
  text-transform: capitalize;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
}

datalist,
input {
  width: 200px;
}

option {
  padding: 0;
}

a {
  color: var(--rh-color-interactive-blue-darker, #0066cc);
}

a:hover {
  color: var(--rh-color-interactive-blue-darkest, #004080);
}

a:visited {
  color: var(--rh-color-interactive-purple-darker, #6753ac);
}

.dark a {
  color: var(--rh-color-interactive-blue-lighter, #73bcf7);
}

.dark a:hover {
  color: var(--rh-color-interactive-blue-lightest, #bee1f4);
}

.dark a:visited {
  color: var(--rh-color-interactive-purple-lighter, #a18fff);
}
#config-table li {
  list-style:none;
}
sl-tree-item::part(item--selected) {
  border-inline-start-color: red;
}
rh-accordion-header rh-tag {
  margin-inline-start: var(--rh-space-md, 8px);
}
.tag-header {
  display: flex;
  align-items: center;
  gap: var(--rh-space-lg, 16px);
}
    .btn-purple.collapsed {
      background-color: #9935dc;
      color: white;
    }

    li.dropdown-menu {
      background-color: white;
    }

    tblack {/* stylelint-disable-line */
      font-size: 17px;
    }

    body {
      font-family: sans-serif;
    }

    .top-right {
      font-size: small;
      position: fixed;
      right: 1em;
      top: 1em;
    }

    progress {
      width: 0%
    }

    input.larger-checkbox {
      width: 17px;
      height: 17px;
    }

    .colored-text {
      background-color: #9935dc;
      color: white;
      font-size: 20px;
    }

    .red{
      --_background-color: var(--rh-color-surface-lightest,red);
    }
    
    .green{
      --_background-color: var(--rh-color-surface-lightest,green);
    }

    .gray{
      --_background-color: var(--rh-color-surface-lightest,gray);
    }

    .purple{
      --_background-color: var(--rh-color-surface-lightest,purple);
    }

    sl-tree-item::part(item--selected) {
      border-inline-start-color: red;
    }