name: check result.html
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  check-result-html:
    name: check if result.html is up to date with index.html
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install nodejs
        run: sudo apt-get update && sudo apt-get -y install nodejs npm && npm install inline-source
      - name: modify build sccript
        run: sed -i 's/results.html/test.html/g' html/build.js
      - name: generate test.html
        run: cd html && node build.js
      - name: compare results.html with test.html
        run: cd html && diff results.html test.html
